* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #2C2F33;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header {
  background-color: #7289DA;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  border-radius: 8px 8px 0 0;
  width: 100%;
  position: fixed;
  top: 0;
}

footer {
  background-color: #23272A;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.center-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.quiz-container {
  background-color: #23272A;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 600px;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
}

h1 {
  font-size: 1.5em;
  color: #7289DA;
}

input[type="text"],
select,
input[type="radio"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #7289DA;
  border-radius: 5px;
  background-color: #40444B;
  color: #FFFFFF;
  font-size: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  border-color: #99AAB5;
}

.option {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #7289DA;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 15px 0;
}

button:hover {
  background-color: #5B6EAE;
}

#timer, #final-score {
  text-align: center;
  margin: 20px 0;
  font-size: 1.2em;
}

.drop-zone {
  border: 2px dashed #7289DA;
  border-radius: 5px;
  padding: 10px;
  min-height: 60px;
  background-color: #40444B;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.drag-item {
  background-color: #7289DA;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  cursor: grab;
}

.answer-zone {
  display: flex;
  justify-content: space-between;
}

.drop-target {
  border: 1px solid #99AAB5;
  background-color: #23272A;
  border-radius: 5px;
  min-width: 80px;
  min-height: 40px;
  margin: 10px;
  flex-grow: 1;
}

.drop-target.filled {
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
  border: 1px solid #3b82f6;
}


@media (max-width: 500px) {
  .quiz-container {
      width: 95%;
  }
}

.question-content {
  background-color: #2C2F33;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.question-title {
  margin-bottom: 10px;
  font-size: 1.3em;
  text-align: center;
}

.question-paragraph {
  margin-bottom: 10px;
  line-height: 1.5;
}

.option {
  padding: 15px;
  margin: 5px 0;
  background-color: #36393f;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Whitney', 'Helvetica Neue', 'Segoe UI', sans-serif;
}

.option:hover {
  background-color: #40444b;
}

.option.selected {
  background-color: #7289da;
  color: white;
}


.inline-input {
  display: inline;
  margin: 0 5px;
}

.fill-blank {
  width: 100px;
  padding: 5px;
  display: inline;
  vertical-align: middle;
}



.drag-item {
  background-color: #40444B;
  border: 1px solid #7289DA;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  cursor: move;
}

.drop-target {
  background-color: #35393F;
  border: 2px dashed #7289DA;
  height: 40px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-p {
  border: 2px solid #7289DA;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: #2C2F33;
  color: #FFFFFF;
  text-align: center;
}


#leaderboard {
  background-color: #2c2f33;
  color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 80%;
  margin: 20px auto;
}

#leaderboard table {
  width: 100%;
  border-collapse: collapse;
}

#leaderboard th, #leaderboard td {
  padding: 10px;
  text-align: center;
}

#leaderboard th {
  background-color: #23272a;
}

.gold {
  background-color: #b5943e;
}

.silver {
  background-color: #9c9c9c;
}

.bronze {
  background-color: #7a4a29;
}

.blurple {
  background-color: #5c7dfb;
}

.purple {
  background-color: #6c5b95;
}



.tada {
  position: absolute;
  animation: fall 1s forwards;
  font-size: 24px;
}

@keyframes fall {
  to {
      transform: translateY(100vh);
      opacity: 0;
  }
}

.falling-emojis {
  position: absolute;
  font-size: 50px; /* Size of the emojis */
  pointer-events: none; /* Avoid interference with user interaction */
}
